.a2{
    /* Transform your Creation Process */

width: 468px;
height: 34px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 120%;
text-shadow: none;
/* identical to box height, or 34px */
text-align: center;

color: #7E1CFE;


}
.p2{
    /* With a new approach to ordering content, you can now stop juggling multiple documents and meetings and start publishing content faster and on demand */

width: 795px;
height: 68px;
left: 322px;
top: 2459px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
text-align: center;

/* Body dark */
color: #4D4D4D;


}
.a3{
width: 718px;
height: 34px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 120%;
text-shadow: none;

/* identical to box height, or 34px */
text-align: center;
padding-top: 0%;
color: #7E1CFE;


    
}